body {
    padding-top: 5rem;
  }
  
  body, html {
    height: 100%;
  }
  
  .video-wrapper {
    width: 100%;
    background-color: lightblue;
  }
  
  section {
    margin: 1rem;
    padding: 2rem;
    background-color: lightblue;
    border-radius: 2em;
  }
  
  .bgimg {
    background-image: url("https://www.amber-bar.co.uk/app/uploads/sites/6/2017/07/More-Tumblr-Backgrounds-for-guys-light-gray.jpg");
    height: 100%;
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* fixed in viewport */
  }
  