body {
    padding-top: 5rem;
    margin-left: 10px;
  }
  
  body, html {
    height: 100%;
  }
  
  .video-wrapper {
    width: 100%;
    background-color: lightblue;
  }
  
  section {
    margin: 1rem;
    padding: 2rem;
    background-color: lightblue;
    border-radius: 2em;
    border-style: dashed;
    border-radius: 2em;
    border-color: firebrick;
  }
  
  .bgimg {
    
    height: 100%;
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
  }
  /*class*/
.important{
  color: firebrick;
}
.icon{
  width:1rem;
  height: 17px;
  
}
.video{
  margin: 1rem;
  margin-right: 2rem;
}
#container
{
  margin:5rem;
}

h1 {
  border-style : solid;
  padding-top : 1em;
  padding-bottom : 1em;
  padding-left: 1em;
  background-color : rgb(146, 167, 187);
  color : white;
  margin-right: 20px;

}
input[type=reset] {
  background-color: #4CAF50;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  