body {
    padding-top: 5rem;
  }
  
  body, html {
    height: 100%;
  }
  
  .video-wrapper {
    width: 100%;
    background-color: lightblue;
  }
  
  section {
    margin: 1rem;
    padding: 2rem;
    background-color: lightblue;
    border-radius: 2em;
    border-style: dashed;
    border-radius: 2em;
    border-color: firebrick;
  }
  
  .bgimg {
    
    height: 100%;
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
  }
  /*class*/
.important{
  color: firebrick;
}
.icon{
  width:1rem;
  height: auto;
}
.video{
  margin: 1rem;
  margin-right: 2rem;
}
#container
{
  margin:5rem;
}
  